!!!
%html
  %head
    %link{href: '/css/bootstrap.min.css', rel: 'stylesheet', type: 'text/css'}
    %title Ask or Bid
  %body
    %header
      %nav.navbar.navbar-inverse{role: 'navigation'}
        .container
          .navbar-header
            .navbar-brand
              Ask or Bid
          .navbar-collapse.collapse
            %ul.nav.navbar-nav
            %ul.nav.navbar-nav.navbar-right
              %li
                %a About
    .container
      #index-title
      = yield

    %footer
      .container

    %script(src='https://npmcdn.com/react@15.3.0/dist/react.min.js')
    %script(src='https://npmcdn.com/react-dom@15.3.0/dist/react-dom.min.js')
    %script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.12.0/babel.min.js')
    %script(src='/js/jquery-3.1.0.min.js')
    %script(src='/js/bootstrap.min.js')
    %script{src: '/js/components.js', type: 'text/babel'}
